
.contact-page{
    box-shadow: 1px 1px 3px 2px white;
display: block;
background-color: black;
margin: 200px auto;
max-width: 500px;
max-height: 500px;
padding: 20px;




}

.titel {
padding: 20px;
}

.contact-page input,  textarea{
display: flex;
flex-direction: column; 
width: 100%;
margin: 10px auto;
padding: 10px;
border: 1px solid white
}

.message{
color: black;

}

.contact-page span{
color:#ff4500 ;


}



.alert {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert.success {
  background-color: #dff0d8;
  color: #3c763d;
}

.alert.error {
  background-color: #f8d7da;
  color: #721c24;
}
