.register,
.login,
.dashboard,
.replies {
  margin-top: 100px;
  text-align: center;
  height: 100vh;
}

/* Login */
.login,
.forum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  height: 100vh;
}

.login h1 {
  font-size: 2rem;
}

.login p {
  font-size: 1rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  gap: 10px;
}

/* Register */

.register {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  height: 100vh;
}

.registerForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  gap: 10px;
}

.forumForm input {
  margin-bottom: 10px;
  width: 100%;
  max-width: 600px;
}

/* Forum home */

.forum h1 {
  text-align: center;
  font-size: 2rem;
}
.forum {
  margin: 10vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 3vh;
  height: 100vh;
}

.forumTitle {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.create-thread {
  border: 1px solid white;
  border-radius: 10px;
  width: 90%;
  max-width: 700px;
  padding: 20px;
}

.thread__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 20px;
}
.thread__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  max-width: 700px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
}
.react__container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.thread__container svg {
  width: 20px;
}
.likes__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/* Replies */

.replies,
.replies form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.replies form textarea {
  color: black;
}
