@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: var(--backgroundColor);
  padding: 0%;
  overflow-x: hidden;
  height: 200vh;
}

:root {
  --mainColor: #33130c;
  --mainColorLight: #59261b;
  --secondairyColor: #ff3608;
  --textColor: white;
  --backgroundColor: #150704;
}

/* GAMEPLAYER */

/* Loading... */
.loader {
  color: var(--textColor);
  height: 100%;
  font-size: 0.8rem;
}

.gameframe-mobile {
  color: var(--textColor);
  text-align: center;
  border: 1px solid var(--textColor);
  margin: 0.5rem;
}

.gameframe-mobile h2 {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 3rem;
}

.thegametitle {
  color: var(--textColor);
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 1rem;
}

/* Classes */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
